<div class="toolbar" role="banner">
  <h1>Demo Prodotto Pacchetto</h1>
</div>

<div class="content" role="main">

  {{"StartIndex:" + validityStartIndex}}
  {{"EndIndex" + validityEndIndex}}
  {{"BufferLength:" + bufferBWLength}}

  <p-carousel *ngIf="showCarousel" [value]="carouselBuffer" [page]="bufferPage" [numVisible]="3" [numScroll]="1" [circular]="false" (onPage)="onPage($event)">
    <ng-template let-vendibility pTemplate="item">
      <p-accordion>
        <p-accordionTab header="Header I" [selected]="true">
          {{vendibility.id}}
          <app-form *ngFor="let subPeriod of vendibility.subPeriods"
            [value1]="subPeriod.value"
            [value2]="subPeriod.value"
            [value3]="subPeriod.value"
            [value4]="subPeriod.value"
            [value5]="subPeriod.value"
            [value6]="subPeriod.value"
            [value7]="subPeriod.value"
            [value8]="subPeriod.value"
            [value9]="subPeriod.value"
            [value10]="subPeriod.value"
            [value11]="subPeriod.value"
            [value12]="subPeriod.value"
            [value13]="subPeriod.value"
            [value14]="subPeriod.value"
            [value15]="subPeriod.value"
            [value16]="subPeriod.value"></app-form>
        </p-accordionTab>
<!--        <p-accordionTab header="Header II" [selected]="true">-->
<!--          <app-form-->
<!--            [value1]="product.values[0].input"-->
<!--            [value2]="product.values[1].input"-->
<!--            [value3]="product.values[2].input"-->
<!--            [value4]="product.values[3].input"-->
<!--            [value5]="product.values[4].input"-->
<!--            [value6]="product.values[5].input"-->
<!--            [value7]="product.values[6].input"-->
<!--            [value8]="product.values[7].input"-->
<!--            [value9]="product.values[8].input"-->
<!--            [value10]="product.values[9].input"-->
<!--            [value11]="product.values[10].input"-->
<!--            [value12]="product.values[11].input"-->
<!--            [value13]="product.values[12].input"-->
<!--            [value14]="product.values[13].input"-->
<!--            [value15]="product.values[14].input"-->
<!--            [value16]="product.values[15].input"-->
<!--          ></app-form>-->
<!--          <app-form-->
<!--            [value1]="product.values[0].input"-->
<!--            [value2]="product.values[1].input"-->
<!--            [value3]="product.values[2].input"-->
<!--            [value4]="product.values[3].input"-->
<!--            [value5]="product.values[4].input"-->
<!--            [value6]="product.values[5].input"-->
<!--            [value7]="product.values[6].input"-->
<!--            [value8]="product.values[7].input"-->
<!--            [value9]="product.values[8].input"-->
<!--            [value10]="product.values[9].input"-->
<!--            [value11]="product.values[10].input"-->
<!--            [value12]="product.values[11].input"-->
<!--            [value13]="product.values[12].input"-->
<!--            [value14]="product.values[13].input"-->
<!--            [value15]="product.values[14].input"-->
<!--            [value16]="product.values[15].input"-->
<!--          ></app-form>-->
<!--          <app-form-->
<!--            [value1]="product.values[0].input"-->
<!--            [value2]="product.values[1].input"-->
<!--            [value3]="product.values[2].input"-->
<!--            [value4]="product.values[3].input"-->
<!--            [value5]="product.values[4].input"-->
<!--            [value6]="product.values[5].input"-->
<!--            [value7]="product.values[6].input"-->
<!--            [value8]="product.values[7].input"-->
<!--            [value9]="product.values[8].input"-->
<!--            [value10]="product.values[9].input"-->
<!--            [value11]="product.values[10].input"-->
<!--            [value12]="product.values[11].input"-->
<!--            [value13]="product.values[12].input"-->
<!--            [value14]="product.values[13].input"-->
<!--            [value15]="product.values[14].input"-->
<!--            [value16]="product.values[15].input"-->
<!--          ></app-form>-->
<!--        </p-accordionTab>-->
<!--        <p-accordionTab header="Header III" [selected]="true">-->
<!--          <p-table [value]="carouselData.saleability">-->
<!--            <ng-template pTemplate="header">-->
<!--                <tr>-->
<!--                    <th>values[0]</th>-->
<!--                    <th>values[1]</th>-->
<!--                </tr>-->
<!--            </ng-template>-->
<!--            <ng-template pTemplate="body" let-product>-->
<!--                <tr>-->
<!--                    <td>{{product.values[0].input}}</td>-->
<!--                    <td>{{product.values[1].input}}</td>-->
<!--                </tr>-->
<!--            </ng-template>-->
<!--          </p-table>-->
<!--        </p-accordionTab>-->
      </p-accordion>

    </ng-template>
  </p-carousel>

</div>

<router-outlet></router-outlet>
