.d-inline-flex {
  display: inline-flex;
}
.d-none {
  display: none;
}
.w-100 {
  width: 100%;
}

.product-item .product-item-content {
    border: 1px solid var(--surface-d);
    border-radius: 3px;
    margin: .3rem;
    text-align: center;
    padding: 2rem 0;
}

.product-item .product-image {
    width: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
}

:host::ng-deep .p-carousel .p-carousel-content .p-carousel-prev {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
}
:host::ng-deep .p-carousel .p-carousel-content .p-carousel-next {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
}

:host::ng-deep .p-carousel-items-container{
  transition: transform 100ms !important;
  transition-timing-function: unset !important;
  transition-delay: 0s !important;
}


