.form-container{
  height: 400px;
  width: 500px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.left {
  width: 50%;
  height: 100vh;
  background-color: green;
  text-align: right;
  color: white;
}

.right {
  width: 50%;
  color: green;
  height: 100vh;
}
