<div class="form-container">
<h5> Form </h5>
  <div class="p-grid p-fluid">
    <div class="left">
      <div class="p-field">
        <label>value1</label>
        <p-inputNumber inputId="value1" [(ngModel)]="value1"></p-inputNumber>
      </div>
      <div class="p-field">
        <label>value2</label>
        <p-inputNumber [(ngModel)]="value2"></p-inputNumber>
      </div>
      <div class="p-field">
        <label>value3</label>
        <p-inputNumber [(ngModel)]="value3"></p-inputNumber>
      </div>
      <div class="p-field">
        <label>value4</label>
        <p-inputNumber [(ngModel)]="value4"></p-inputNumber>
      </div>
      <div class="p-field">
        <label>value5</label>
        <p-inputNumber [(ngModel)]="value5"></p-inputNumber>
      </div>
      <div class="p-field">
        <label>value6</label>
        <p-inputNumber [(ngModel)]="value6"></p-inputNumber>
      </div>
      <div class="p-field">
        <label>value7</label>
        <p-inputNumber [(ngModel)]="value7"></p-inputNumber>
      </div>
      <div class="p-field">
        <label>value8</label>
        <p-inputNumber [(ngModel)]="value8"></p-inputNumber>
      </div>
    </div>
    <div class="right">
      <div class="p-field">
        <label>value9</label>
        <p-inputNumber [(ngModel)]="value9"></p-inputNumber>
      </div>
      <div class="p-field">
        <label>value10</label>
        <p-inputNumber [(ngModel)]="value10"></p-inputNumber>
      </div>
      <div class="p-field">
        <label>value11</label>
        <p-inputNumber [(ngModel)]="value11"></p-inputNumber>
      </div>
      <div class="p-field">
        <label>value12</label>
        <p-inputNumber [(ngModel)]="value12"></p-inputNumber>
      </div>
      <div class="p-field">
        <label>value13</label>
        <p-inputNumber [(ngModel)]="value13"></p-inputNumber>
      </div>
      <div class="p-field">
        <label>value14</label>
        <p-inputNumber [(ngModel)]="value14"></p-inputNumber>
      </div>
      <div class="p-field">
        <label>value15</label>
        <p-inputNumber [(ngModel)]="value15"></p-inputNumber>
      </div>
      <div class="p-field">
        <label>value16</label>
        <p-inputNumber [(ngModel)]="value16"></p-inputNumber>
      </div>
    </div>
  </div>
</div>


